<div class ="container">
  <h2>Todo</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Assigned to</label>
    <input type="txt" class="form-control" id="exampleInputEmail"[(ngModel)]="assigned to" aria-describedby="emailHelp" placeholder="Enter assigned to ">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Status</label>
    <input type="txt" class="form-control" id="exampleInputEmail"[(ngModel)]="status" aria-describedby="emailHelp" placeholder="Enter your status ">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Due Date</label>
    <input type="number" class="form-control" id="exampleInputEmail"[(ngModel)]="due date" aria-describedby="emailHelp" placeholder="Enter your due date ">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Priority</label>
    <input type="txt" class="form-control" id="exampleInputEmail"[(ngModel)]="Priority" aria-describedby="emailHelp" placeholder="Enter your Priority ">
  </div>



  <div class="form-group">
    <label for="exampleInputEmail1">Comments</label>
    <input type="txt" class="form-control" id="exampleInputEmail"[(ngModel)]="Comments" aria-describedby="emailHelp" placeholder="Enter your Comments ">
  </div>

  <div class="button">
  <button type ="submit" class="btn btn-primary">submit</button>
</div>
</div>


<!----table-->
<div class="container">
  <h2>Todo data</h2>
  <table class="table table-striped">
    <thead>
      <th>Assigned to</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Comments</th>
      <th>Edit</th>
      <th>Delete</th>
      
      
      

    </thead>
    

    <tbody>
      <tr *ngFor="let val of data;let i = index;">
        <td>user 1</td>
        <td>completed</td>
        <td>12/10/2024</td>
        <td>low</td>
        <td>this task is good</td>
        <td><input type="button" class= "btn btn-good"value="x"> </td>
        <td><input type="button" class= "btn btn-danger"value="z"> </td>

      </tr>
    </tbody>
  </table>
</div>

  
